.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registration-form {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}
.registration-form #nome {
    background-color: #cccccc;
    font-size: xx-small;
}
.registration-form #cognome {
    background-color: #cccccc;
    font-size: xx-small;
}
.registration-form #email {
    background-color: #cccccc;
    font-size: xx-small;
}
.registration-form #cellulare {
    background-color: #cccccc;
    font-size: xx-small;
}
.registration-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: x-large;
}


.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
}

input[type="text"],
input[type=text],
input[type="email"],
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 10px;
    height: 50px;
}
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ff8c00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

}

button[type="submit"]:hover {
    background-color: #ff8c00;
}
